.googleMapSection {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;

  .googleMap {
    width: 100%;
    max-width: 1200px;
    width: 100%;
  }

  .editModeWarning {
    margin: 0 20px;
    margin-top: 20px;

    h3 {
      color: red;
      text-align: center;
    }

    h4 {
      text-align: center;
      color: green;
    }
  }

  .bottomSection {
    display: flex;
    justify-content: center;
    margin: 0 20px;

    .controlMap {
      margin-top: 20px;
      width: 100%;

      button {
        outline: none;
        background-color: #1a73e8;
        border: none;
        padding: 5px 10px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #1a73e8;
      }

      > div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 30px;

        .areaControl {
          margin-top: 20px;
          border: 1px solid lightgray;
          padding: 10px;
          border-radius: 5px;
          width: 100%;
          max-width: 300px;

          .controlTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
              font-weight: 700;
              margin: 0;
            }

            .controlBtn {
              display: flex;
              align-items: center;
              column-gap: 10px;

              button:last-child {
                background-color: transparent;
                color: red;
                border: 2px solid red;
              }

              button:disabled {
                background-color: transparent;
                color: gray;
                border: 2px solid gray;
              }
            }
          }

          p {
            font-size: 18;
            font-weight: 600;
            margin-top: 10px;
          }

          .areaColor {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            h4 {
              margin: 0;
            }

            div {
              height: 20px;
              width: 20px;
            }

            .A {
              background-color: red;
            }

            .B {
              background-color: blue;
            }

            .C {
              background-color: green;
            }
          }

          .areaCalculation {
            margin-top: 20px;

            h4 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
