<div class="googleMapSection">
  <div class="googleMap">
    <google-map
      height="70vh"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      [options]="options"
      (mapClick)="click($event)"
    >
      <div *ngFor="let area of vertices">
        <map-polygon
          [options]="getOption(area.areaName)"
          *ngIf="area.area"
          [paths]="area.area"
          (polygonMouseup)="mouseMove($event)"
        >
        </map-polygon>
      </div>
    </google-map>
    <div class="editModeWarning">
      <h3 *ngIf="mapEditMode">
        Area {{ mapEditMode }} is in edit mode, select three point to create a
        area
      </h3>
      <h4 *ngIf="computeAreaOfPolygon[0]">
        Total area: {{ totalAreaOfPolygon }} m<sup>2</sup>/{{
          totalAreaOfPolygon * 0.0001
        }}
        hectares
      </h4>
    </div>
    <div class="bottomSection">
      <div class="controlMap">
        <button (click)="addNewArea()" [disabled]="vertices.length >= 3">
          Add new area
        </button>
        <div>
          <div
            *ngFor="let area of computeAreaOfPolygon; let i = index"
            class="areaControl"
          >
            <div class="controlTitle">
              <h3>Area - {{ area.areaName }}</h3>
              <div class="controlBtn">
                <button
                  (click)="editMode(area.areaName)"
                  *ngIf="mapEditMode !== area.areaName"
                >
                  Edit
                </button>
                <button
                  (click)="done(area.areaName)"
                  *ngIf="mapEditMode === area.areaName"
                >
                  Done
                </button>
                <button
                  [class]="mapEditMode === area.areaName && 'disabled'"
                  [disabled]="mapEditMode === area.areaName"
                  (click)="delete(area.areaName)"
                >
                  Delete
                </button>
              </div>
            </div>
            <p *ngIf="mapEditMode === area.areaName">In edit mode</p>
            <div class="areaColor">
              <h4>Area color</h4>
              <div [class]="area.areaName"></div>
            </div>
            <div class="areaCalculation">
              <h4>Area of {{ area.areaName }}:</h4>
              <h4>{{ area.computedArea }} m<sup>2</sup></h4>
              <h4>
                {{ area.computedArea }}
                hectares
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- (polygonMousemove)="dragend($event)" -->
